In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

In [2]:
df=pd.read_csv('yellow_tripdata_2019-02 (1).csv')

In [3]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,01/02/2019 00:59,01/02/2019 01:07,1,2.1,1,N,48,234,1,9.0,0.5,0.5,2.00,0.0,0.3,12.30,0.0
1,1,01/02/2019 00:33,01/02/2019 01:03,1,9.8,1,N,230,93,2,32.0,0.5,0.5,0.00,0.0,0.3,33.30,0.0
2,1,01/02/2019 00:09,01/02/2019 00:09,1,0.0,1,N,145,145,2,2.5,0.5,0.5,0.00,0.0,0.3,3.80,0.0
3,1,01/02/2019 00:45,01/02/2019 00:51,1,0.8,1,N,95,95,2,5.5,0.5,0.5,0.00,0.0,0.3,6.80,0.0
4,1,01/02/2019 00:25,01/02/2019 00:28,1,0.8,1,N,140,263,2,5.0,0.5,0.5,0.00,0.0,0.3,6.30,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1,05/02/2019 08:28,05/02/2019 08:48,1,2.3,1,N,249,170,1,14.0,2.5,0.5,2.00,0.0,0.3,19.30,2.5
1048571,1,05/02/2019 08:50,05/02/2019 09:02,1,1.4,1,N,161,234,1,9.5,2.5,0.5,2.00,0.0,0.3,14.80,2.5
1048572,1,05/02/2019 08:00,05/02/2019 08:14,1,1.7,1,N,141,163,2,10.5,2.5,0.5,0.00,0.0,0.3,13.80,2.5
1048573,1,05/02/2019 08:20,05/02/2019 08:28,1,0.8,1,N,230,161,1,7.0,2.5,0.5,1.55,0.0,0.3,11.85,2.5
1048574,1,05/02/2019 08:34,05/02/2019 08:39,1,0.8,1,N,164,234,1,5.5,2.5,0.5,2.60,0.0,0.3,11.40,2.5

In [4]:
df.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [5]:
def trip_duration(df):
    df['The_trip_duration_min'] =  pd.to_datetime(df['tpep_dropoff_datetime']) - pd.to_datetime(df['tpep_pickup_datetime'])    
    return df
df =trip_duration(df)

In [6]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,The_trip_duration_min
0,1,01/02/2019 00:59,01/02/2019 01:07,1,2.1,1,N,48,234,1,9.0,0.5,0.5,2.00,0.0,0.3,12.30,0.0,0 days 00:08:00
1,1,01/02/2019 00:33,01/02/2019 01:03,1,9.8,1,N,230,93,2,32.0,0.5,0.5,0.00,0.0,0.3,33.30,0.0,0 days 00:30:00
2,1,01/02/2019 00:09,01/02/2019 00:09,1,0.0,1,N,145,145,2,2.5,0.5,0.5,0.00,0.0,0.3,3.80,0.0,0 days 00:00:00
3,1,01/02/2019 00:45,01/02/2019 00:51,1,0.8,1,N,95,95,2,5.5,0.5,0.5,0.00,0.0,0.3,6.80,0.0,0 days 00:06:00
4,1,01/02/2019 00:25,01/02/2019 00:28,1,0.8,1,N,140,263,2,5.0,0.5,0.5,0.00,0.0,0.3,6.30,0.0,0 days 00:03:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1,05/02/2019 08:28,05/02/2019 08:48,1,2.3,1,N,249,170,1,14.0,2.5,0.5,2.00,0.0,0.3,19.30,2.5,0 days 00:20:00
1048571,1,05/02/2019 08:50,05/02/2019 09:02,1,1.4,1,N,161,234,1,9.5,2.5,0.5,2.00,0.0,0.3,14.80,2.5,0 days 00:12:00
1048572,1,05/02/2019 08:00,05/02/2019 08:14,1,1.7,1,N,141,163,2,10.5,2.5,0.5,0.00,0.0,0.3,13.80,2.5,0 days 00:14:00
1048573,1,05/02/2019 08:20,05/02/2019 08:28,1,0.8,1,N,230,161,1,7.0,2.5,0.5,1.55,0.0,0.3,11.85,2.5,0 days 00:08:00
1048574,1,05/02/2019 08:34,05/02/2019 08:39,1,0.8,1,N,164,234,1,5.5,2.5,0.5,2.60,0.0,0.3,11.40,2.5,0 days 00:05:00

In [7]:
def add_hour_day(df):
    df['hour_of_day'] = pd.to_datetime(df['tpep_pickup_datetime']).apply(lambda x: x.strftime("%H"))
    df['day_of_week'] = pd.to_datetime(df['tpep_pickup_datetime']).apply(lambda x: x.strftime("%A"))
    return df
df = add_hour_day(df)

In [8]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,The_trip_duration_min,hour_of_day,day_of_week
0,1,01/02/2019 00:59,01/02/2019 01:07,1,2.1,1,N,48,234,1,...,0.5,0.5,2.00,0.0,0.3,12.30,0.0,0 days 00:08:00,00,Wednesday
1,1,01/02/2019 00:33,01/02/2019 01:03,1,9.8,1,N,230,93,2,...,0.5,0.5,0.00,0.0,0.3,33.30,0.0,0 days 00:30:00,00,Wednesday
2,1,01/02/2019 00:09,01/02/2019 00:09,1,0.0,1,N,145,145,2,...,0.5,0.5,0.00,0.0,0.3,3.80,0.0,0 days 00:00:00,00,Wednesday
3,1,01/02/2019 00:45,01/02/2019 00:51,1,0.8,1,N,95,95,2,...,0.5,0.5,0.00,0.0,0.3,6.80,0.0,0 days 00:06:00,00,Wednesday
4,1,01/02/2019 00:25,01/02/2019 00:28,1,0.8,1,N,140,263,2,...,0.5,0.5,0.00,0.0,0.3,6.30,0.0,0 days 00:03:00,00,Wednesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1,05/02/2019 08:28,05/02/2019 08:48,1,2.3,1,N,249,170,1,...,2.5,0.5,2.00,0.0,0.3,19.30,2.5,0 days 00:20:00,08,Thursday
1048571,1,05/02/2019 08:50,05/02/2019 09:02,1,1.4,1,N,161,234,1,...,2.5,0.5,2.00,0.0,0.3,14.80,2.5,0 days 00:12:00,08,Thursday
1048572,1,05/02/2019 08:00,05/02/2019 08:14,1,1.7,1,N,141,163,2,...,2.5,0.5,0.00,0.0,0.3,13.80,2.5,0 days 00:14:00,08,Thursday
1048573,1,05/02/2019 08:20,05/02/2019 08:28,1,0.8,1,N,230,161,1,...,2.5,0.5,1.55,0.0,0.3,11.85,2.5,0 days 00:08:00,08,Thursday
1048574,1,05/02/2019 08:34,05/02/2019 08:39,1,0.8,1,N,164,234,1,...,2.5,0.5,2.60,0.0,0.3,11.40,2.5,0 days 00:05:00,08,Thursday

In [9]:
time_trip_duration=df['The_trip_duration_min'].dt.components
df["time_trip_duration"]=time_trip_duration["minutes"]

In [10]:
def compute_predictions(df):
    predictions = df.groupby(['PULocationID', 'DOLocationID', 'day_of_week', 'hour_of_day'])['time_trip_duration']
    mean = predictions.mean()
    standard_deviation = predictions.std()
    t_score_value= stats.t.ppf(0.975, len(df) - 1)
    pred = pd.DataFrame({'mean_trip_duration': mean, 'margin_of_error': t_score_value * standard_deviation / np.sqrt(len(df))})
    return pred

In [11]:
z_value = stats.norm.ppf(0.9505)
z_value

1.649721063683362

In [12]:
dataset=compute_predictions(df)
dataset

                                                   mean_trip_duration  \
PULocationID DOLocationID day_of_week hour_of_day
1            1            Saturday    03                     0.000000
                                      06                     0.400000
                                      07                     4.000000
                                      09                     0.000000
                                      11                     0.000000
...                                                               ...
265          265          Wednesday   19                     5.500000
                                      20                     2.750000
                                      21                     1.500000
                                      22                     2.250000
                                      23                     0.666667

                                                   margin_of_error
PULocationID DOLocationID day_of_week hour_of_day
1            1            Saturday    03                       NaN
                                      06                  0.001048
                                      07                       NaN
                                      09                       NaN
                                      11                       NaN
...                                                            ...
265          265          Wednesday   19                  0.014022
                                      20                  0.009295
                                      21                  0.005242
                                      22                  0.009137
                                      23                  0.001105

[225787 rows x 2 columns]